::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #e0e0e0;
    background-color: #121212;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background: #444;
    padding: 0.5rem 0;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #ffeb3b;
    transition: color 0.3s ease;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.section {
    margin: 2rem 0;
}

li{
    font-weight: bold;
    margin-top: 0.5rem;
    font-size: large;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.project {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.project:hover{
    background: #313030;
    transition: background 0.3s ease;
    box-shadow: 0 0 10px #ffeb3b;
    transform: translateY(-5px)
}

.skills {
    margin: 2rem 0;
}

.skill {
    margin-bottom: 1rem;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.progress-bar {
    background: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    position: relative;
}

.progress {
    background: #ffeb3b;
    height: 100%;
    border-radius: 5px 0 0 5px;
    position: absolute;
}

.contacto:hover {
    color:#ffeb3b;
}

.clickable:hover {
    text-decoration:double;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer a {
    color: #fff;
    text-decoration: none;
    width:100%;
}

footer a:hover {
    text-decoration: underline;
}
