::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333333;
    background-color: #ffffff;
}

h2{
    color:#0077B6;
}

header {
    background: #153140;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background: #204A60;
    padding: 0.5rem 0;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #F77F00;
    transition: color 0.3s ease;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.section {
    margin: 2rem 0;
}

li{
    font-weight: bold;
    margin-top: 0.5rem;
    font-size: large;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.project {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.project:hover{
    background: #2A9D8F;
    transition: background 0.3s ease;
    box-shadow: 0 0 10px #7FDEFF;
    transform: translateY(-5px)
}
.project>a:hover{
    color:#F77F00;
}

.skills {
    margin: 2rem 0;
}

.skill {
    margin-bottom: 1rem;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.progress-bar {
    background: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    position: relative;
}

.progress {
    background: #2A9D8F;
    height: 100%;
    border-radius: 5px 0 0 5px;
    position: absolute;
}
a, #tel>num{
    color:#0077B6;
}

a:hover, #tel>num:hover{
    color:#2A9D8F;
}
.contacto:hover {
    color:#2A9D8F;
}

.clickable:hover {
    text-decoration:double;
}

footer {
    background: #F5F5F5;
    color: #333333;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer a {
    color: #333333;
    text-decoration: none;
    width:100%;
}

footer a:hover {
    text-decoration: underline;
}